<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据分析展示</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon"  type="image/png" th:href="@{/assets/i/favicon.png}" >
    <link rel="apple-touch-icon-precomposed" th:href="@{/assets/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.page.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/layui/layui.js}"></script>

    <style type="text/css">

    </style>
    <script type="text/javascript">
        $(function(){
            //$("iframe").attr("src","home")
            $.post("home",{},function(res){
                var parser=new DOMParser();
                var xmlDoc=parser.parseFromString(res,"text/html");
                var  $tt1 =$(xmlDoc);
                var bobyh = xmlDoc.getElementsByClassName("tpl-content-wrapper")
                var  $tt2 =$(bobyh);
                //$(".tpl-content-wrapper").html($tt1);
                $(".tpl-content-wrapper").load("/admin/home");

            })
        });

        function menuBox(obj){
            var rel =  $(obj).attr("rel");
            //$("iframe").attr("src",rel)
            $.get("/admin/"+rel,{},function(res){
                $(".tpl-content-wrapper").html("");
                $(".tpl-content-wrapper").html(res);
            });
            //$(".tpl-content-wrapper").load("/admin/"+rel+"?name="+r);
        }

        function logout(){
            window.location.href = "/login";
        }
    </script>
</head>

<body data-type="index">

    <script th:src="@{/assets/js/theme.js}" ></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img th:src="@{/assets/img/logob.png}" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你,
                                <span th:text="${session.name}"></span>
                                <span th:text="  ${name} " ></span> </a>
                        </li>

                         <!--退出-->
                        <li class="am-text-sm">
                            <a href="javascript:;"onclick="logout()";>
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <div class="left-sidebar">

            <ul class="sidebar-nav">

                <!--双层循环遍历出所有菜单-->
                <ul th:each="menus,menusStat : ${session.menus}">
                    <li class="sidebar-nav-link">
                        <a href="javascript:;" class="sidebar-nav-sub-title">
                            <i class="am-icon-table sidebar-nav-link-logo"></i><span th:text="${menus.text}"></span>
                            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                        </a>
                        <ul class="sidebar-nav sidebar-nav-sub">
                            <ul th:each="cmenu,cmenuStat : ${menus.children}">
                                <li class="sidebar-nav-link">
                                    <a href="javascript:void(0)"  th:rel="${cmenu.attributes.url}" onclick="menuBox(this)">
                                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span>
                                        <span th:text="${cmenu.text}"></span>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </li>
                 </ul>
            </ul>
            
        </div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper" style="margin-left:0px;">

        </div>

    </div>
    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/assets/js/amazeui.datatables.min.js}" ></script>
    <script th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    </div>
</body>

</html>