<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>协同进度表</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script th:src="@{/assets/js/echarts.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.datatables.min.css}"  />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.page.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/template-web.js}"></script>

    <style type="text/css">

        .tpl-table-list-select {
             text-align: left;
        }

        .am-selected {
            width: 120px;
        }
        .filtrateText{
            color: floralwhite;
        }
        .row-content {
            padding: 10px;
        }
        .widget {
            height: 780px;
        }
        .s_button{
            padding-right: 5px;
        }
        .theme-black .tpl-form-line-form input[type=number], .theme-black .tpl-form-line-form input[type=search], .theme-black .tpl-form-line-form input[type=text], .theme-black .tpl-form-line-form input[type=password], .theme-black .tpl-form-line-form input[type=datetime], .theme-black .tpl-form-line-form input[type=datetime-local], .theme-black .tpl-form-line-form input[type=date], .theme-black .tpl-form-line-form input[type=month], .theme-black .tpl-form-line-form input[type=time], .theme-black .tpl-form-line-form input[type=week], .theme-black .tpl-form-line-form input[type=email], .theme-black .tpl-form-line-form input[type=url], .theme-black .tpl-form-line-form input[type=tel], .theme-black .tpl-form-line-form input[type=color], .theme-black .tpl-form-line-form select, .theme-black .tpl-form-line-form textarea, .theme-black .am-form-field {
            display: block;
            width: 100%;
            padding: 6px 12px;
            line-height: 1.42857;
            color: rgb(0, 0, 0);
            background-color: rgba(34, 34, 34, 0.15);
            background-image: none;
            border: 1px solid #000000;
        }

    </style>
    <script type="text/javascript">

        $(function() {
            var $selected = $('#selected-area');
            $selected.on('change', function() {
                var v = $("#selected-area").val();

            });
        });

        function search_select(){
            var area = $("#selected-area").val();
            if (area!=null){
                area = area.toString()
            }

            var brand = $("#selected-brand").val();
            if (brand!=null){
                brand = brand.toString()
            }

            var carType = $("#selected-carType").val();
            if (carType!=null){
                carType = carType.toString()
            }

            var phyStatus = $("#selected-phyStatus").val();
            if (phyStatus!=null){
                phyStatus = phyStatus.toString()
            }

            var owner = $("#selected-owner").val();
            if (owner!=null){
                owner = owner.toString()
            }

            var arriveWay = $("#selected-arriveWay").val();
            if (arriveWay!=null){
                arriveWay = arriveWay.toString()
            }

            var param = {"area":area,"brand":brand,"carType":carType,"phyStatus":phyStatus,"owner":owner,"arriveWay":arriveWay}

            $.post("initializeSelectMenu",param,function(data){
                console.log(data)
                $("#sAndUGPS_span").text(data.data.sAndUGPS.yddwzGPS);
                $("#fpjcjqxwm_span").text(data.data.sAndUGPS.fpjcjqxwm);
                $("#yspwjsyx_span").text(data.data.sAndUGPS.yspwmsyx);
                $("#zpqqwsp_span").text(data.data.sAndUGPS.zpqqwsp);
                $("#ztcl_span").text(data.data.sAndUGPS.ztcl);
                pluginBtn();


            });

        }

        function pluginBtn(obj){

            var thisObj=$(obj);
                var b = thisObj.children();
                var pluginVal = b.attr("id");
               // console.log(thisObj)

            var area = $("#selected-area").val();
            if (area!=null){
                area = area.toString()
            }

            var brand = $("#selected-brand").val();
            if (brand!=null){
                brand = brand.toString()
            }

            var carType = $("#selected-carType").val();
            if (carType!=null){
                carType = carType.toString()
            }

            var phyStatus = $("#selected-phyStatus").val();
            if (phyStatus!=null){
                phyStatus = phyStatus.toString()
            }

            var owner = $("#selected-owner").val();
            if (owner!=null){
                owner = owner.toString()
            }

            var arriveWay = $("#selected-arriveWay").val();
            if (arriveWay!=null){
                arriveWay = arriveWay.toString()
            }

            var param = {"area":area,"brand":brand,"carType":carType,"phyStatus":phyStatus,"owner":owner,"arriveWay":arriveWay,"pluginVal":pluginVal}
            $.post("getSynergyEvolveTable",param,function(data){
                var listMap = data.data;

            });
        }
        function search_export(){
            var area = $("#selected-area").val();
            if (area!=null){
                area = area.toString()
            }

            var brand = $("#selected-brand").val();
            if (brand!=null){
                brand = brand.toString()
            }

            var carType = $("#selected-carType").val();
            if (carType!=null){
                carType = carType.toString()
            }

            var phyStatus = $("#selected-phyStatus").val();
            if (phyStatus!=null){
                phyStatus = phyStatus.toString()
            }

            var owner = $("#selected-owner").val();
            if (owner!=null){
                owner = owner.toString()
            }

            var arriveWay = $("#selected-arriveWay").val();
            if (arriveWay!=null){
                arriveWay = arriveWay.toString()
            }
            var param = {"area":area,"brand":brand,"carType":carType,"phyStatus":phyStatus,"owner":owner,"arriveWay":arriveWay}

            console.log(param);
            window.location.href = "exportExcel?area="+area+"&brand="+brand+"&carType="+carType+"&phyStatus="+phyStatus+"&owner="+owner+"&arriveWay="+arriveWay;

        }
    </script>

</head>

<body data-type="widgets">
    <script th:src="@{/assets/js/theme.js}" ></script>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>协同进度表</div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">区域:</span>


                        <div class="am-form-group tpl-table-list-select">

                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-area">
                                <tr th:each="areas,stat : ${seleteArea}">
                                    <option th:value="${areas}" th:text="${areas}"></option>
                                </tr>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">品牌:</span>
                        <div class="am-form-group tpl-table-list-select">
                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-brand">
                                <tr th:each="brand,stat : ${seleteBrand}">
                                    <option th:value="${brand}" th:text="${brand}"></option>
                                </tr>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">车型:</span>
                        <div class="am-form-group tpl-table-list-select">
                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-carType">
                                <tr th:each="carType,stat : ${carTypelist}">
                                    <option th:value="${carType}" th:text="${carType}"></option>
                                </tr>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">标识:</span>
                        <div class="am-form-group tpl-table-list-select">
                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-phyStatus">
                                    <option value="全部">所有类别</option>
                                    <option value="空">空</option>
                                    <option value="待售新车">待售新车</option>
                                    <option value="预售车">预售车</option>
                                    <option value="在途车辆">在途车辆</option>
                                    <option value="在库处理车辆">在库处理车辆</option>
                                    <option value="待付款新车">待付款新车</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">车辆归属:</span>
                        <div class="am-form-group tpl-table-list-select">
                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-owner">
                                <option value="全部">所有类别</option>
                                <option value="空">空</option>
                                <option value="喜相逢">喜相逢</option>
                                <option value="淘气">淘气</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-2">
                        <span class="filtrateText">到店方式:</span>
                        <div class="am-form-group tpl-table-list-select">
                            <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-arriveWay">
                                <option value="全部">所有类别</option>
                                <option value="空">空</option>
                                <option value="待售新车">门店</option>
                                <option value="预售车">4S店并上牌</option>
                                <option value="在途车辆">4S店未上牌</option>
                            </select>
                                <button type="button"  class="am-btn am-btn-default am-round" onclick="search_select()">查 询</button>
                                <button type="button"  class="am-btn am-btn-default am-round" onclick="search_export()">导 出</button>
                        </div>

                    </div>

                    <div class="am-u-sm-2">

                    </div>
                   <!-- <div class="am-u-sm-2">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field ">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                        </div>
                    </div>-->

                </div>

            </div>


            <div class="row-content am-cf" >
                <div class="row" >
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" >
                        <div class="widget am-cf">
                            <!--<div class="widget-head am-cf">-->
                                <!--<div class="widget-title  am-cf">文章列表</div>-->


                            <!--</div>-->
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-12 ">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class=" ">
                                                <button type="button" class="am-btn am-btn-primary s_button" id="sAndUGPS_btn" onclick="pluginBtn(this)">已到店未安装GPS：<span id="sAndUGPS_span"></span></button>
                                                <button type="button" class="am-btn am-btn-secondary s_button" id="fpjcjqxwm_btn" onclick="pluginBtn(this)">发票寄出，交强险未买：<span id="fpjcjqxwm_span"></span></button>
                                                <button type="button" class="am-btn am-btn-success s_button" id="yspwjsyx_btn" onclick="pluginBtn(this)">已上牌，未交商业险：<span id="yspwjsyx_span"></span></button>
                                                <button type="button" class="am-btn am-btn-warning s_button" id="zpqqwsp_btn" onclick="pluginBtn(this)">证票齐全，未上牌：<span id="zpqqwsp_span"></span></button>
                                                <button type="button" class="am-btn am-btn-warning s_button" id="ztcl_btn" onclick="pluginBtn(this)">在途车辆：<span id="ztcl_span"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>文章标题</th>
                                                <th>作者</th>
                                                <th>时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX">
                                                <td>Amaze UI 模式窗口</td>
                                                <td>张鹏飞</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <td>有适配微信小程序的计划吗</td>
                                                <td>天纵之人</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>请问有没有amazeui 分享插件</td>
                                                <td>王宽师</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <td>关于input输入框的问题</td>
                                                <td>着迷</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <td>有没有发现官网上的下载包不好用</td>
                                                <td>醉里挑灯看键</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="even gradeC">
                                                <td>我建议WEB版本文件引入问题</td>
                                                <td>罢了</td>
                                                <td>2016-09-26</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-pencil"></i> 编辑
                                                        </a>
                                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">

                                    <div data-am-page="{pages:10,jump:'http://hersface.com/p/%page%'}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script th:src="@{/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/assets/js/amazeui.datatables.min.js}" ></script>
    <script th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/js/amazeui.page.js}"></script>

</body>

</html>