<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>协同进度表</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="" />
    <script th:src="@{/assets/js/echarts.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.datatables.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.page.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/layui/layui.js}"></script>

    <style type="text/css">
        .widget-body {
            overflow-x: scroll
        }


        .widget-body td,
        .widget-body th,


        .tpl-table-list-select {
            text-align: left;
        }

        .am-selected {
            width: 120px;
        }

        .filtrateText {
            color: floralwhite;
        }

        .row-content {
            padding: 10px;
        }

        .widget {
            height: 780px;
        }

        .s_button {
            padding-right: 5px;
        }

        .theme-black .tpl-form-line-form input[type=number],
        .theme-black .tpl-form-line-form input[type=search],
        .theme-black .tpl-form-line-form input[type=text],
        .theme-black .tpl-form-line-form input[type=password],
        .theme-black .tpl-form-line-form input[type=datetime],
        .theme-black .tpl-form-line-form input[type=datetime-local],
        .theme-black .tpl-form-line-form input[type=date],
        .theme-black .tpl-form-line-form input[type=month],
        .theme-black .tpl-form-line-form input[type=time],
        .theme-black .tpl-form-line-form input[type=week],
        .theme-black .tpl-form-line-form input[type=email],
        .theme-black .tpl-form-line-form input[type=url],
        .theme-black .tpl-form-line-form input[type=tel],
        .theme-black .tpl-form-line-form input[type=color],
        .theme-black .tpl-form-line-form select,
        .theme-black .tpl-form-line-form textarea,
        .theme-black .am-form-field {
            display: block;
            width: 100%;
            padding: 6px 12px;
            line-height: 1.42857;
            color: rgb(0, 0, 0);
            background-color: rgba(34, 34, 34, 0.15);
            background-image: none;
            border: 1px solid #000000;
        }

        .am-u-sm-2 {
            width: 15.666% !important;
        }
        .layui-table{
            background-color: rgba(84, 94, 99,0);
            color: #ffffff;
        }
        .layui-table th{
            background-color: rgba(255, 255, 255, 0);

        }
        /*.layui-table-cell{*/
        /*background-color: rgba(84, 94, 99,0);*/
        /*}*/
        .layui-table tbody tr:hover{
            background-color: rgba(255, 255, 255, 0.16);
        }
        .layui-table thead{
            background-color: #868686;
        }
        .layui-table thead tr,
        .layui-table-click,
        .layui-table-header,
        .layui-table-hover,
        .layui-table-mend,
        .layui-table-patch,
        .layui-table-tool,
        .layui-table[lay-even] tr:nth-child(even) {
            background-color: rgba(84, 94, 99,0);
        }
    </style>



    <script type="text/javascript">
        var page;
        var countPP = 0;
        var lock = false;//锁作为全局变量
        var exportPluginVal = "";
        $(function () {
            //            var $selected = $('#selected-area');
            //            $selected.on('change', function() {
            //                var v = $("#selected-area").val();
            //
            //            });
            search_select();

        });


        function search_select(obj) {
            console.log("search_select");
            var area = $("#selected-area").val();
            if (area != null) {
                area = area.toString();
            }

            var brand = $("#selected-brand").val();
            if (brand != null) {
                brand = brand.toString()
            }

            var carType = $("#selected-carType").val();
            if (carType != null) {
                carType = carType.toString()
            }

            var phyStatus = $("#selected-phyStatus").val();
            if (phyStatus != null) {
                phyStatus = phyStatus.toString()
            }

            var owner = $("#selected-owner").val();
            if (owner != null) {
                owner = owner.toString()
            }

            var arriveWay = $("#selected-arriveWay").val();
            if (arriveWay != null) {
                arriveWay = arriveWay.toString()
            }

            console.log(exportPluginVal);
            var param = { "area": area, "brand": brand, "carType": carType, "phyStatus": phyStatus, "owner": owner, "arriveWay": arriveWay ,"pluginVal": exportPluginVal}

            var $btn = $(obj);
            $btn.button('loading');
            if (exportPluginVal==""||exportPluginVal==null){
                $.post("initializeSelectMenu", param, function (data) {
                    $("#sAndUGPS_span").text(data.data.sAndUGPS.yddwzGPS);
                    $("#fpjcjqxwm_span").text(data.data.sAndUGPS.fpjcjqxwm);
                    $("#yspwjsyx_span").text(data.data.sAndUGPS.yspwmsyx);
                    $("#zpqqwsp_span").text(data.data.sAndUGPS.zpqqwsp);
                    $("#ztcl_span").text(data.data.sAndUGPS.ztcl);
                    $btn.button('reset');
                });
            }
            show_table(param);
        }

        function pluginBtn(obj) {

            var thisObj = $(obj);
            var b = thisObj.children();
            var pluginVal = b.attr("id");
            exportPluginVal = pluginVal;

            search_select(pluginVal)
        }
        function search_export() {
            var area = $("#selected-area").val();
            if (area != null) {
                area = area.toString()
            }

            var brand = $("#selected-brand").val();
            if (brand != null) {
                brand = brand.toString()
            }

            var carType = $("#selected-carType").val();
            if (carType != null) {
                carType = carType.toString()
            }

            var phyStatus = $("#selected-phyStatus").val();
            if (phyStatus != null) {
                phyStatus = phyStatus.toString()
            }

            var owner = $("#selected-owner").val();
            if (owner != null) {
                owner = owner.toString()
            }

            var arriveWay = $("#selected-arriveWay").val();
            if (arriveWay != null) {
                arriveWay = arriveWay.toString()
            }
            var param = { "area": area, "brand": brand, "carType": carType, "phyStatus": phyStatus, "owner": owner, "arriveWay": arriveWay }

            var pluginVal = $("#exprotTable").attr("title");
            window.location.href = "exportExcel?area=" + area + "&brand=" + brand + "&carType=" + carType + "&phyStatus=" + phyStatus + "&owner=" + owner + "&arriveWay=" + arriveWay + "&pluginVal=" + exportPluginVal;

        }

        function isStr(str) {
            if (str == null || str == 'null') {

                return '';
            }

            return str;
        }


    </script>

</head>

<body data-type="widgets">
<script th:src="@{/assets/js/theme.js}"></script>

<script id="t1" type="text/html">
    <ul>

    </ul>

</script>


<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="page-header-heading">
                    <span class="am-icon-home page-header-heading-icon"></span>协同进度表</div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">区域:</span>
                <div class="am-form-group tpl-table-list-select">

                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-area">
                        <tr th:each="areas,stat : ${seleteArea}">
                            <option th:value="${areas}" th:text="${areas}"></option>
                        </tr>
                    </select>
                </div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">品牌:</span>
                <div class="am-form-group tpl-table-list-select">
                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-brand">
                        <tr th:each="brand,stat : ${seleteBrand}">
                            <option th:value="${brand}" th:text="${brand}"></option>
                        </tr>
                    </select>
                </div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">车型:</span>
                <div class="am-form-group tpl-table-list-select">
                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-carType">
                        <tr th:each="carType,stat : ${carTypelist}">
                            <option th:value="${carType}" th:text="${carType}"></option>
                        </tr>
                    </select>
                </div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">标识:</span>
                <div class="am-form-group tpl-table-list-select">
                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-phyStatus">
                        <option value="全部">所有类别</option>
                        <option value="空">空</option>
                        <option value="待售新车">待售新车</option>
                        <option value="预售车">预售车</option>
                        <option value="在途车辆">在途车辆</option>
                        <option value="在库处理车辆">在库处理车辆</option>
                        <option value="待付款新车">待付款新车</option>
                    </select>
                </div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">车辆归属:</span>
                <div class="am-form-group tpl-table-list-select">
                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-owner">
                        <option value="全部">所有类别</option>
                        <option value="空">空</option>
                        <option value="喜相逢">喜相逢</option>
                        <option value="淘气">淘气</option>
                    </select>
                </div>
            </div>

            <div class="am-u-sm-2">
                <span class="filtrateText">到店方式:</span>
                <div class="am-form-group tpl-table-list-select">
                    <select multiple data-am-selected="{maxHeight: 300,btnWidth: '60%',searchBox: 1}" id="selected-arriveWay">
                        <option value="全部">所有类别</option>
                        <option value="空">空</option>
                        <option value="待售新车">门店</option>
                        <option value="预售车">4S店并上牌</option>
                        <option value="在途车辆">4S店未上牌</option>
                    </select>
                    <!-- <button type="button"  class="am-btn am-btn-default am-round" onclick="search_select()">查 询</button>
                            <button type="button"  class="am-btn am-btn-default am-round" onclick="search_export()">导 出</button> -->
                </div>

            </div>
            <div>
                <button type="button" onclick="search_select(this)" style="width: 115px;margin-left: 27px; position: relative;left: -17px;margin-top: 8px"
                        class="am-btn am-btn-primary btn-loading-example" data-am-loading="{spinner: 'circle-o-notch', loadingText: '加载中...'}">查 询</button>
                <button type="button" id="exprotTable" title="" onclick="search_export(this)" style="margin-top: 8px;width: 115px" class="am-btn am-btn-primary btn-loading-example"
                        data-am-loading="{spinner: 'circle-o-notch', loadingText: '加载中...'}">导 出</button>
            </div>

            <div class="am-u-sm-2">

            </div>


        </div>

    </div>


    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">

                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 ">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class=" ">
                                        <button type="button" class="am-btn am-btn-primary s_button" id="sAndUGPS_btn" onclick="pluginBtn(this)">已到店未安装GPS：
                                            <span id="sAndUGPS_span"></span>
                                        </button>
                                        <button type="button" class="am-btn am-btn-primary s_button" id="fpjcjqxwm_btn" onclick="pluginBtn(this)">发票寄出，交强险未买：
                                            <span id="fpjcjqxwm_span"></span>
                                        </button>
                                        <button type="button" class="am-btn am-btn-primary s_button" id="yspwjsyx_btn" onclick="pluginBtn(this)">已上牌，未交商业险：
                                            <span id="yspwjsyx_span"></span>
                                        </button>
                                        <button type="button" class="am-btn am-btn-primary s_button" id="zpqqwsp_btn" onclick="pluginBtn(this)">证票齐全，未上牌：
                                            <span id="zpqqwsp_span"></span>
                                        </button>
                                        <button type="button" class="am-btn am-btn-primary s_button" id="ztcl_btn" onclick="pluginBtn(this)">在途车辆：
                                            <span id="ztcl_span"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12" id="test1">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function show_table(param){
        layui.use(['form','layer','table'], function(){
            var colss = [
                {field:'区域',width:'4%',title: '区域',align:'center'},
                {field:'ID',width:'6%',title: 'ID',align:'center'},
                {field:'车辆归属', width:'6%', title: '车辆归属',align:'center'},
                {field:'采购单号', width:'10%', title: '采购单号',align:'center'},
                {field:'车架号', width:'12%', title: '车架号',align:'center'},
                {field:'车牌号', width:'7%', title: '车牌号',align:'center'},
                {field:'采购跟进单', width:'10%', title: '采购跟进单',align:'center'},
                {field:'规格', width:'19%', title: '规格',align:'center'},
                {field:'颜色', width:'4%', title: '颜色',align:'center'},
                {field:'付款结束', width:'6%', title: '付款结束',align:'center'},
                {field:'预计发车', width:'6%', title: '预计发车',align:'center'},
                {field:'发票寄出', width:'7%', title: '发票寄出',align:'center'},
                {field:'合格证寄出', width:'7%', title: '合格证寄出',align:'center'},
                {field:'商业险购买', width:'7%', title: '商业险购买',align:'center'},
                {field:'交强险购买', width:'7%', title: '交强险购买',align:'center'},
                {field:'到4S店', width:'4%', title: '到4S店',align:'center'},
                {field:'到店日期', width:'6%', title: '到店日期',align:'center'},
                {field:'到票日期', width:'6%', title: '到票日期',align:'center'},
                {field:'到证日期', width:'6%', title: '到证日期',align:'center'},
                {field:'GPS安装', width:'6%', title: 'GPS安装',align:'center'},
                {field:'上牌日期', width:'8%', title: '上牌日期',align:'center'},
                {field:'车辆标识', width:'10%', title: '车辆标识',align:'center'},
                {field:'到店方式', width:'6%', title: '到店方式',align:'center'},
                {field:'采购合同号', width:'10%', title: '采购合同号',align:'center'},
                {field:'付款单号', width:'10%', title: '付款单号',align:'center'},
                {field:'指导价', width:'6%', title: '指导价',align:'center'}

            ];
            var table = layui.table;

            table.render({
                text: {
                    none: '数据加载中，请稍等。。。。' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                },
                //cellMinWidth:10,
                //skin: 'line' //行边框风格
                even: true, //开启隔行背景
                //,size: 'sm',//小尺寸的表格
                elem: '#test1'
                ,url:'getSynergyEvolveTable'
                ,where: param
                ,page: true

                ,limit: 15 //默认采用10条
                ,loading: true
                ,cols: [colss]

                ,request: {
                    //pageName: 'pageNum' //页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 0 //成功的状态码，默认：0
                    ,msgName: 'message' //状态信息的字段名称，默认：msg
                    ,countName: 'count' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
            });

        });
    }
</script>

<script th:src="@{/assets/js/amazeui.min.js}"></script>
<script th:src="@{/assets/js/amazeui.datatables.min.js}"></script>
<script th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/amazeui.page.js}"></script>

</body>





</html>